openapi: 3.0.3

info:
  title: Club de Maestros Progresol Integration API
  version: 1.0.0
  description: |
    ## Overview

    The **Club de Maestros Progresol Integration API** provides secure access to
    participant purchase data for authorized third-party systems.

    This API is part of **Project Cantera** and is maintained by **Nube Labs**
    on behalf of Progresol.

    ---

    ## Network Access & IP Whitelisting

    The production environment is protected by a firewall.

    Only pre-authorized IP addresses are allowed to access the API.

    Before integrating with the production environment, partners must:

    - Provide their public outbound IP address.
    - Receive confirmation of whitelist activation from Nube Labs.

    Requests originating from non-authorized IP addresses will be blocked at the network level.

    For testing or onboarding, contact Nube Labs technical support.

    ---

    ## Authentication

    All requests require an API Key sent in the `X-Api-Key` header.

    Example:

    ```
    X-Api-Key: YOUR_API_KEY
    ```

    Requests without a valid API key will receive a `401 Unauthorized` response.
    
    ---

    ## Rate Limiting

    To ensure platform stability, requests are limited to:

    **60 requests per minute per IP address**

    When the limit is exceeded, the API returns:

    - HTTP `429 Too Many Requests`

    Rate limit headers included in responses:

    - `X-RateLimit-Limit`
    - `X-RateLimit-Remaining`
    - `Retry-After`

    ---

    ## Base URL

    Production:
    `https://chat.clubdemaestrosprogresol.com/public/`

  contact:
    name: Nube Labs – API Support
    email: soporte@nube.la

  license:
    name: Proprietary – Progresol
    url: https://clubdemaestrosprogresol.com

servers:
  - url: https://api.chat.clubdemaestrosprogresol.com/public/
    description: Production server

security:
  - ApiKeyAuth: []

paths:
  /participants/{document_number}/purchases:
    get:
      summary: Retrieve latest participant purchases
      description: |
        Returns the most recent purchases of a participant identified by
        their document number.

        Results are ordered by:

        ```
        COALESCE(PurchaseDate, CreatedAt) DESC
        ```

      parameters:
        - name: document_number
          in: path
          required: true
          description: |
            Participant document number.

            Requirements:
            - Digits only
            - Between 8 and 9 characters
          schema:
            type: string
            pattern: '^[0-9]{8,9}$'
            example: "48309200"

        - name: limit
          in: query
          required: false
          description: |
            Maximum number of purchases to return.

            - Default: 10
            - Maximum: 50
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 10
            example: 10

      responses:
        '200':
          description: Successful response
          headers:
            X-RateLimit-Limit:
              description: Maximum requests allowed per minute
              schema:
                type: integer
                example: 60
            X-RateLimit-Remaining:
              description: Remaining requests in the current window
              schema:
                type: integer
                example: 45
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchasesResponse'

        '400':
          description: Invalid document number format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: "Invalid document number format. Only digits (8–9 characters) are allowed."

        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: "Unauthorized. Valid X-Api-Key header is required."

        '404':
          description: Participant not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: "Participant not found."

        '429':
          description: Rate limit exceeded
          headers:
            Retry-After:
              description: Seconds before retrying
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: "Rate limit exceeded. Maximum 60 requests per minute."

        '500':
          description: Unexpected internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: "An unexpected error occurred. Please contact API support if the issue persists."

components:

  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
      description: |
        API Key issued by Nube Labs for authorized integrations.

        This header must be included in every request:

            X-Api-Key: YOUR_API_KEY

        Requests without a valid key will return HTTP 401.

  schemas:

    PurchasesResponse:
      type: object
      description: |
        Root response object returned when querying participant purchases.

        The response includes the participant identifier and an array
        of purchase records ordered in descending chronological order
        based on COALESCE(PurchaseDate, CreatedAt).
      properties:
        document_number:
          type: string
          description: |
            Participant document number used in the request.

            This value is returned for traceability and validation
            purposes.
          example: "48309200"

        purchases:
          type: array
          description: |
            Collection of purchase records associated with the participant.

            The number of elements returned depends on the `limit`
            query parameter.
          items:
            $ref: '#/components/schemas/Purchase'

      required:
        - document_number
        - purchases


    Purchase:
      type: object
      description: |
        Represents a single purchase registered within the
        Club de Maestros Progresol loyalty program.

        Each purchase generates loyalty points for the participant.
      properties:

        purchase_id:
          type: integer
          description: |
            Unique internal identifier of the purchase record.

            This identifier is stable and can be used for reconciliation.
          example: 1001

        purchase_date:
          type: string
          format: date
          description: |
            Date when the purchase was recorded in the system.

            Format: ISO 8601 (YYYY-MM-DD)
          example: "2026-02-01"

        status:
          description: |
            Current status of the purchase transaction.
          $ref: '#/components/schemas/PurchaseStatus'

        receipt_type:
          type: string
          description: |
            Commercial document type associated with the purchase
            (e.g., Factura, Boleta de Venta).
          example: "Factura"

        receipt_number:
          type: string
          description: |
            Commercial document number issued by the store
            corresponding to the purchase.
          example: "F001-123"

        total_amount:
          type: number
          format: double
          description: |
            Total monetary amount of the purchase.

            Currency: Peruvian Sol (PEN).
            Precision may include decimal values.
          example: 450.50

        total_points:
          type: integer
          description: |
            Total loyalty points earned from this purchase.

            This value represents the sum of all points generated
            by the products included in the purchase.
          example: 45

        details:
          type: array
          description: |
            Detailed breakdown of products included in the purchase.
          items:
            $ref: '#/components/schemas/PurchaseDetail'

      required:
        - purchase_id
        - purchase_date
        - status
        - receipt_type
        - receipt_number
        - total_amount
        - total_points
        - details


    PurchaseStatus:
      type: object
      description: |
        Represents the lifecycle status of a purchase transaction.
      properties:
        id:
          type: integer
          description: |
            Internal numeric identifier of the status.
          example: 2

        name:
          type: string
          description: |
            Human-readable status name.
          example: "Approved"

      required:
        - id
        - name


    PurchaseDetail:
      type: object
      description: |
        Represents an individual product line within a purchase.
      properties:
        product_name:
          type: string
          description: |
            Name of the product purchased.
          example: "Cemento"

        quantity:
          type: integer
          description: |
            Number of units purchased.
          example: 10

        unit_points:
          type: integer
          description: |
            Loyalty points earned per unit of the product.
          example: 3

        total_points:
          type: integer
          description: |
            Total points generated by this line item.

            Calculation:
                quantity × unit_points
          example: 30

      required:
        - product_name
        - quantity
        - unit_points
        - total_points


    ErrorResponse:
      type: object
      description: |
        Standard error response structure returned by the API
        when a request cannot be processed.

        Errors are communicated using appropriate HTTP status codes.
      properties:
        error:
          type: string
          description: |
            Human-readable description of the error condition.

            This field is intended for integrator debugging
            and operational handling.
          example: "Participant not found"

      required:
        - error