openapi: 3.0.3

info:
  title: Club de Maestros Progresol Integration API
  version: 1.0.0
  description: |
    ## Overview

    The **Club de Maestros Progresol Integration API** provides secure access to
    participant purchase data for authorized third-party systems.

    This API is part of **Project Cantera** and is maintained by **Nube Labs**
    on behalf of Progresol.

    ---

    ## Authentication

    All requests require an API Key sent in the `X-Api-Key` header.

    Example:

    ```
    X-Api-Key: YOUR_API_KEY
    ```

    Requests without a valid API key will receive a `401 Unauthorized` response.

    ---

    ## Rate Limiting

    To ensure platform stability, requests are limited to:

    **60 requests per minute per IP address**

    When the limit is exceeded, the API returns:

    - HTTP `429 Too Many Requests`

    Rate limit headers included in responses:

    - `X-RateLimit-Limit`
    - `X-RateLimit-Remaining`
    - `Retry-After`

    ---

    ## Base URL

    Production:
    `https://chat.clubdemaestrosprogresol.com/public/`

  contact:
    name: Nube Labs – API Support
    email: soporte@nube.la

  license:
    name: Proprietary – Progresol
    url: https://clubdemaestrosprogresol.com

servers:
  - url: https://chat.clubdemaestrosprogresol.com/public/
    description: Production server

security:
  - ApiKeyAuth: []

paths:
  /participants/{document_number}/purchases:
    get:
      summary: Retrieve latest participant purchases
      description: |
        Returns the most recent purchases of a participant identified by
        their document number.

        Results are ordered by:

        ```
        COALESCE(PurchaseDate, CreatedAt) DESC
        ```

      parameters:
        - name: document_number
          in: path
          required: true
          description: |
            Participant document number.

            Requirements:
            - Digits only
            - Between 8 and 9 characters
          schema:
            type: string
            pattern: '^[0-9]{8,9}$'
            example: "48309200"

        - name: limit
          in: query
          required: false
          description: |
            Maximum number of purchases to return.

            - Default: 10
            - Maximum: 50
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 10
            example: 10

      responses:
        '200':
          description: Successful response
          headers:
            X-RateLimit-Limit:
              description: Maximum requests allowed per minute
              schema:
                type: integer
                example: 60
            X-RateLimit-Remaining:
              description: Remaining requests in the current window
              schema:
                type: integer
                example: 45
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchasesResponse'

        '400':
          description: Invalid document number format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: "Invalid document number format. Only digits (8–9 characters) are allowed."

        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: "Unauthorized. Valid X-Api-Key header is required."

        '404':
          description: Participant not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: "Participant not found."

        '429':
          description: Rate limit exceeded
          headers:
            Retry-After:
              description: Seconds before retrying
              schema:
                type: integer
                example: 60
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: "Rate limit exceeded. Maximum 60 requests per minute."

        '500':
          description: Unexpected internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: "An unexpected error occurred. Please contact API support if the issue persists."

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
      description: |
        Provide your assigned API key in the request header.

        Example:
        ```
        X-Api-Key: YOUR_API_KEY
        ```

  schemas:
    PurchasesResponse:
      type: object
      properties:
        document_number:
          type: string
          example: "48309200"
        purchases:
          type: array
          items:
            $ref: '#/components/schemas/Purchase'
      required:
        - document_number
        - purchases

    Purchase:
      type: object
      properties:
        purchase_id:
          type: integer
          example: 1001
        purchase_date:
          type: string
          format: date
          example: "2026-02-01"
        status:
          $ref: '#/components/schemas/PurchaseStatus'
        receipt_type:
          type: string
          example: "Factura"
        receipt_number:
          type: string
          example: "F001-123"
        total_amount:
          type: number
          format: double
          example: 450.50
        total_points:
          type: integer
          example: 45
        details:
          type: array
          items:
            $ref: '#/components/schemas/PurchaseDetail'
      required:
        - purchase_id
        - purchase_date
        - status
        - receipt_type
        - receipt_number
        - total_amount
        - total_points
        - details

    PurchaseStatus:
      type: object
      properties:
        id:
          type: integer
          example: 2
        name:
          type: string
          example: "Approved"
      required:
        - id
        - name

    PurchaseDetail:
      type: object
      properties:
        product_name:
          type: string
          example: "Cemento"
        quantity:
          type: integer
          example: 10
        unit_points:
          type: integer
          example: 3
        total_points:
          type: integer
          example: 30
      required:
        - product_name
        - quantity
        - unit_points
        - total_points

    ErrorResponse:
      type: object
      properties:
        error:
          type: string
      required:
        - error